.chat {
    display: flex;
    flex-direction: column;
}

.message-time {
    text-align: right;
}

.message-text {
    margin-left: 1rem;
}

.message-wrapper {
    display: flex;
    align-items: center;
}

